page-charity-list{
    .img{
            width: 100%;
    }
    .item-md h2{
        text-align: left;
        font-weight: bold;
        font-size: 2rem;
        display: inline-block;
    }
    .item-md h3{
        font-size: 1rem;
    }
    .item-md img{
        width: 10rem;
        height: 10rem;
    }
} 