page-registration {

    .registrationbutton {
        //background-color: color($colors, orange);
        font-size: 4.5rem;
    }

    .registration-content
    {
        height: 30%;
        padding: 3%;
    }
}
