page-home {
    
    #homepage {
        background-image: url("https://i.imgur.com/FyeH8xL.png");
        background-color: transparent;
        background-repeat: no-repeat;
        background-size:cover;
    }

    .homepagebutton {
        margin-top: 10%;
        font-size: 2.5rem;
    }

    #appname {
        margin-top: 40%;
        margin-bottom: 20%;
        font-family: BebasBold;
        font-size: 8.5rem;
        text-shadow: 2px 2px 3px color($colors, orange);
        color: black;
    }

    // .button-effect
    // {
    //     background-color: color($colors, orange);
    // }

    // .afterclick
    // {
    //     background-color: color($colors, pink);
    // }

    // $page-background: linear-gradient(to bottom, color($colors, neworange) 0%, color($colors, newpink) 50%, color($colors, newblue) 100%);
    // $background-color: transparent;
    // $toolbar-border: none;
    

    // @-webkit-keyframes fadeIn {
    //     0% {background-color: white}
    //     100% {$background-color: transparent;}
    // }

    // .backgroundFade {
    //     -webkit-animation: fadeIn 2s ease;
    //     animation: fadeIn 2s ease;
    // }
    
}
