// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #feac5e, 
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  orange:     #feac5e,
  pink:       #f9b2dd,
  blue:       #4bc0c8,
  darkgreen:  #1ca03b
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

@font-face {
  font-family: 'Bebas';
  font-style: normal;
  src: url('../assets/fonts/BebasNeueRegular.otf')
};

@font-face {
  font-family: 'BebasBold';
  font-style: bold;
  src: url('../assets/fonts/BebasNeueBold.otf')
};

@font-face {
  font-family: 'CrusoeText-Regular';
  font-style: normal;
  src: url('../assets/fonts/CrusoeText-Regular.otf')
};

$font-family-base: 'CrusoeText-Regular';
$font-size-base: 2.5rem;
$toolbar-ios-title-font-size: 2.5rem;

// $buttoncolors: (
//   afterclick: color($colors, pink)
// );

ion-header ion-icon.back-button-icon.icon {
  color: map-get($colors, light);
}

$toolbar-background: transparent;

ion-content {
  background-image: url("https://i.imgur.com/qiuALKv.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-headers
{
  background-color: color($colors, orange);
}

ion-header {
  font-family: 'Bebas';
}