page-explore {
    p {
        text-align: center;
        font-size: 49%;
        background-color: color($colors,pink) !important;
        margin: 0;
        padding: 10px;
    }
    .card-image
    {
       width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .card-style {
        text-align: center;
        background-color: transparent; 
        box-shadow: none !important;
        padding: 0;
    }
    .card-style button {
        background-color: color($colors, orange);
        font-size: 2rem;
        margin: 0;
    }
    .card-header
    {
        margin: 0;
    }
}
 