page-charity {
    p {
        background-color: rgba($color: white, $alpha: .8);
        margin: 0;
        padding: 10px;
    }
    .content{
        font-size: 1.5rem;
        img{
            display:inline-block;
            width: 100%;
        }
    .donation-box
    {
        font-size: 2rem;
    }
        // h1{
        //     font-size: 4rem;
        //     font-weight: bold;
        //     color: white;
        //     font-family: 'Bebas',
        // }
        // h2{
        //     text-align: left;
        // }
        .card{
            height: 32rem;
            background-color: color($colors,pink) !important;
            img{
                padding: 1em;
            }
            .card-title-md{
                font-size: 2rem;
                font-weight: bold;
            }
            ion-icon{
                float: left;
            }
        }
    }
}
